In [158]:
#importing pandas library
import pandas as pd

In [159]:
#Loading the Melbourne house prices dataset
data=pd.read_csv('C:/Users/Biranchi/Desktop/Internship/Assignment/Python 09.10.20/data.csv')
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [160]:
#1.
print('Shape of Dataset: ',data.shape)

Shape of Dataset:  (23678, 21)

1.The Dataset Contains 23678 rows and 21 columns

In [161]:
#2.Data type of Each column
data.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [162]:
#3.
empty_row_index=pd.isna(data).all(axis=1).nonzero()
empty_row_index

C:\Users\Biranchi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead

(array([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
         3855,  4089,  4096,  4164,  4218,  4222,  4326,  4649,  4897,
         4942,  5052,  5223,  5265,  5328,  5331,  5383,  5405,  5625,
         5741,  5952,  6125,  6133,  6140,  6143,  6251,  6326,  6406,
         6446,  6703,  6717,  6853,  6921,  7086,  7261,  7348,  7596,
         7743,  7759,  7762,  7775,  8054,  8095,  8118,  8190,  8409,
         8501,  8652,  8816,  8974,  9098,  9210,  9232,  9450,  9455,
         9586,  9761,  9888,  9894, 10009, 10125, 10390, 10475, 10738,
        10952, 11334, 11348, 11552, 11755, 12087, 12441, 12559, 12997,
        13066, 13381, 13647, 13725, 14009, 14471, 14644, 14963, 15094,
        15214, 15771, 16044, 16252, 16563, 16655, 16848, 17111, 17246,
        17611, 17741, 18077, 18148, 18251, 18374, 18476, 18547, 18671,
        18742, 18884, 19001, 19287, 19641, 19949, 20087, 20422, 20496,
        20695, 20838, 20880, 21055, 21220, 21343, 21602, 22003, 22109,
        22288, 22704, 22918, 23153, 23341], dtype=int64),)

In [163]:
#4.
print("Total number of Empty row :",len(empty_row_index[0]))
print("Percentage of Empty rows in the dataset: ",round(len(empty_row_index[0])/23678,5)*100,"%")

Total number of Empty row : 131
Percentage of Empty rows in the dataset:  0.553 %

In [164]:
#Droping the empty rows
data.dropna(how='all',axis=0,inplace=True)
print("Shape of Dataset Now: ",data.shape)

Shape of Dataset Now:  (23547, 21)

In [165]:
#5.
data.columns[data.isna().any()]

Index(['Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [166]:
#6.Showing culumnwise null values
print(data.isna().sum())

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [167]:
#Showing culumnwise null value percentage
(data.isnull().sum()/len(data))*100

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.875398
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.004247
Postcode          0.004247
Bedroom2         19.030025
Bathroom         19.042766
Car              19.645815
Landsize         26.062768
BuildingArea     57.455302
YearBuilt        50.991634
CouncilArea      33.511700
Lattitude        18.278337
Longtitude       18.278337
Regionname        0.004247
Propertycount     0.004247
dtype: float64

In [168]:
#7.
null_data_index=pd.isna(data).any(axis=1).nonzero()
null_data_index

C:\Users\Biranchi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead

(array([    0,     1,     3, ..., 23544, 23545, 23546], dtype=int64),)

In [169]:
#8.Missing value in each row
data.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23673    2
23674    8
23675    4
23676    1
23677    2
Length: 23547, dtype: int64

In [170]:
#Percentage of missing value in each row
(data.isna().sum(axis=1)/data.shape[1])*100

0        14.285714
1         9.523810
2         0.000000
3        14.285714
4         0.000000
           ...
23673     9.523810
23674    38.095238
23675    19.047619
23676     4.761905
23677     9.523810
Length: 23547, dtype: float64

In [171]:
#9. Columns contain more than 30% of nan values
Most_na=Data.columns[data.isna().mean()>.30]
Most_na

Index(['BuildingArea', 'YearBuilt', 'CouncilArea'], dtype='object')

In [172]:
#Droping the columns having more than 30% of null values
data.drop(Most_na,axis=1,inplace=True)

In [173]:
data.shape

(23547, 18)

In [174]:
#10.
MostNan_Row=data[data.isnull().sum(axis=1)>5].index
MostNan_Row

Int64Index([   15,    16,    19,    21,    22,    27,    34,    35,    46,
               47,
            ...
            23573, 23577, 23580, 23584, 23603, 23626, 23630, 23633, 23639,
            23662],
           dtype='int64', length=4278)

In [175]:
print("Number of rows having nan values > 5 are :",len(MostNan_Row))
print("Percentage of rows having nan values > 5 is :",round(len(MostNan_Row)/len(data)*100,2),"%")

Number of rows having nan values > 5 are : 4278
Percentage of rows having nan values > 5 is : 18.17 %

In [176]:
#Droping the Rows 
data.drop(MostNan_Row,axis=0,inplace=True)
data.shape

(19269, 18)

In [177]:
#11.
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount
count,19269.000000,1.508600e+04,19269.000000,19269.000000,19066.000000,19063.000000,18921.000000,17410.000000,19243.000000,19243.000000,19269.000000
mean,2.973117,1.066695e+06,10.204365,3110.015777,2.951956,1.570897,1.626235,551.783458,-37.812434,145.000287,7490.249520
std,0.978969,6.389331e+05,6.065786,93.730487,0.996032,0.712684,0.974048,3544.288014,0.079926,0.106071,4319.566673
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,-38.184180,144.431620,129.000000
25%,2.000000,6.400000e+05,6.100000,3049.000000,2.000000,1.000000,1.000000,181.000000,-37.859300,144.939300,4442.000000
50%,3.000000,9.000000e+05,9.200000,3102.000000,3.000000,1.000000,2.000000,448.000000,-37.809700,145.004300,6567.000000
75%,4.000000,1.320000e+06,13.000000,3150.000000,4.000000,2.000000,2.000000,656.000000,-37.759800,145.063100,10331.000000
max,12.000000,9.000000e+06,48.100000,3977.000000,30.000000,12.000000,26.000000,433014.000000,-37.407580,145.526350,21650.000000

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19269 entries, 0 to 23677
Data columns (total 18 columns):
Suburb           19269 non-null object
Address          19269 non-null object
Rooms            19269 non-null float64
Type             19269 non-null object
Price            15086 non-null float64
Method           19269 non-null object
SellerG          19269 non-null object
Date             19269 non-null object
Distance         19269 non-null float64
Postcode         19269 non-null float64
Bedroom2         19066 non-null float64
Bathroom         19063 non-null float64
Car              18921 non-null float64
Landsize         17410 non-null float64
Lattitude        19243 non-null float64
Longtitude       19243 non-null float64
Regionname       19269 non-null object
Propertycount    19269 non-null float64
dtypes: float64(11), object(7)
memory usage: 2.8+ MB